@{
    ViewBag.Title = "Corporation Creation";
}
@model CorporationDtoCreation;
<head>
    <link href="~/lib/font-awesome/v4.4.0/css/font-awesome.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增公司</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="FormCorporationCreation" enctype="multipart/form-data" method="post" asp-action="Creation" asp-controller="Corporation">
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label" asp-for="Name"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Name" class="form-control" type="text" placeholder="填写公司名称">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label" asp-for="AreaID"></label>
                                <div class="col-sm-9">
                                    <select class="form-control col-sm-4 selectpicker show-tick" data-live-search="true" data-style="btn-success" data-size="11" data-width="fit" data-actions-box="true" title="请选择" name="AreaID" id="seltProvinceAreaID">
                                    </select>
                                    <select class="form-control col-sm-4 selectpicker show-tick" data-live-search="true" data-style="btn-success" data-size="11" data-width="fit" data-actions-box="true" title="请选择" name="AreaID" id="seltCityAreaID">
                                    </select>
                                    <select class="form-control col-sm-4 selectpicker show-tick" data-live-search="true" data-style="btn-success" data-size="11" data-width="fit" data-actions-box="true" title="请选择" name="AreaID" id="seltCistrictAreaID">
                                    </select>
                                    <select class="form-control col-sm-4 selectpicker show-tick" data-live-search="true" data-style="btn-success" data-size="11" data-width="auto" data-actions-box="true" title="请选择" name="AreaID" id="seltStreetAreaID">
                                    </select>
                                    <span asp-validation-for="AreaID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label" asp-for="CorporationAddress"></label>
                                <div class="col-sm-9">
                                    <input asp-for="CorporationAddress" id="CorporationAddress" class="form-control" type="text" placeholder="请填写公司所在区划之后的详细地址">
                                    <span asp-validation-for="CorporationAddress" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group  col-sm-12">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkbox" id="agree" name="agree"> 我已经认真阅读并同意《使用协议》
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group  col-sm-6">
                                @*<div asp-validation-summary="ModelOnly" class="col-sm-9 col-sm-offset-2 text-danger"></div>*@

                                <div data-valmsg-summary="true" class="col-sm-9 col-sm-offset-2 text-danger validation-summary-errors hidden" id="divModelErrors">
                                    <ul>
                                    </ul>
                                </div>
                            </div>


                            <div class="form-group ">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <button class="btn btn-primary" id="btnSubmit" type="button">提交</button>
                                    <button class="btn btn-default" type="button">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @section Scripts {
        <!-- 自定义js -->
        <script src="~/js/public/content.js?v=1.0"></script>
        @{await Html.RenderPartialAsync("_BootstrapSelectPartial"); }
        @{await Html.RenderPartialAsync("_BootstrapValidator"); }
        @{await Html.RenderPartialAsync("_AjaxFromPartial"); }
        <script src="~/js/Corporation/Creation.js"></script>
    }
</body>

