@{
    ViewBag.Title = "Corporation Creation";

}
@model CorporationDtoCreation;
<head>
    <link href="~/lib/font-awesome/v4.4.0/css/font-awesome.css" rel="stylesheet" />
    <!--bootstrap-select css-->
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增公司</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="CreationForm">
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label" asp-for="Name"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Name" class="form-control" type="text" placeholder="填写公司名称">
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label" asp-for="AreaID"></label>
                                <div class="col-sm-9">
                                    <select class="form-control col-sm-4 selectpicker show-tick" data-live-search=“true” data-style="btn-success" data-size="11" data-width="auto" data-actions-box="true" title="请选择" name="AreaID" asp-items="@ViewBag.AreaSelectListItem">
                                    </select>

                                    <select class="form-control col-sm-4 selectpicker hidden" data-live-search=“true” name="AreaID2" asp-items="@ViewBag.AreaSelectListItem">
                                    </select>

                                    <select class="form-control col-sm-4 selectpicker hidden" data-live-search=“true” name="AreaID3" asp-items="@ViewBag.AreaSelectListItem">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label">密码：</label>
                                <div class="col-sm-9">
                                    <input id="password" name="password" class="form-control" type="password" placeholder="请输入您的密码">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label">确认密码：</label>
                                <div class="col-sm-9">
                                    <input id="confirm_password" name="confirm_password" class="form-control" type="password" placeholder="请再次输入您的密码">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label">E-mail：</label>
                                <div class="col-sm-9">
                                    <input id="email" name="email" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="form-group  col-sm-6">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkbox" id="agree" name="agree"> 我已经认真阅读并同意《使用协议》
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                    <button class="btn btn-default" type="button">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @section Scripts {
        <!-- 自定义js -->
        <script src="~/js/public/content.js?v=1.0"></script>
        <!-- jQuery Validation plugin javascript-->
        <script src="~/lib/jquery-validate/v1.13.1/jquery.validate.js"></script>
        <script src="~/lib/jquery-validate/v1.13.1/localization/messages_zh.js"></script>
        <script src="~/js/Corporation/Creation.js"></script>
        <!--bootstrap-select js-->
        <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="~/lib/bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
    }
</body>

