<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>IdentityServer4</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/lib/twitter/bootstrap/v4.5.0/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <partial name="_Nav" />

    <div class="container body-container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/v3.5.1/jquery.slim.js"></script>
    <script src="~/lib/twitter/bootstrap/v4.5.0/js/bootstrap.bundle.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
